.App {
  width: 100%;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.newLine {
  margin-top: 5%;
}

#rowSubmit {
  font-size: 10px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#rowAdd {
  font-size: 10px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.newLine {
  margin-top: 10%;
}

#redmineCodeMultiline {
  margin-top: 2%;
}

#redmineCodePreview {
  margin: 1% 0 0 5%;
  font-size: 12px;
}

#redmineCodeTabularPreview {
  margin: 1% 0 0 5%;
  font-size: 12px;
}

.logo {
  margin: -1% 0 4% 0;
  width: 50%;
  height: 50%;
}

#redmineBox {
  overflow: hidden;
}

.tabularPreviewTable, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 4px;
}

.logoText {
  margin: -1% 0 4% 0;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
}